<ion-content [fullscreen]="true">
  <div>
    <h2>
      <ion-title>Featured Catrgories</ion-title>
    </h2>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
        <ion-col> <ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
        <ion-col> <ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <h2>
      <ion-title>Featured Catrgories</ion-title>
    </h2>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
        <ion-col> <ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
        <ion-col> <ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <h2>
      <ion-title>Featured Catrgories</ion-title>
    </h2>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
        <ion-col> <ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
        <ion-col> <ion-card class="ion-no-padding">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>