<ion-content class="ion-padding">
    <!-- greet -->

    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home">
                <ion-icon name="home"></ion-icon>
                Home
            </ion-tab-button>
            <ion-tab-button tab="search">
                <ion-icon name="search"></ion-icon>
                Search
            </ion-tab-button>
            <ion-tab-button tab="categories">
                <ion-icon name="list"></ion-icon>
                Categories
            </ion-tab-button>
            <ion-tab-button tab="profile">
                <ion-icon name="person-circle"></ion-icon>
                Profile
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>